@model TechJobsPersistent.ViewModels.AddEmployerViewModel
<h1>Add New Employer</h1>

<form asp-controller="Employer" asp-action="ProcessAddEmployerForm" method="post">
    <table class="table table-responsive">
        <tr>
            <th>
                <label class="float-right">Employer Name</label>
            </th>
            <td>
                <input class="form-control" asp-for="Name" />
                <span class="float-left" asp-validation-for="Name"></span>
            </td>
        </tr>
        <tr>
            <th>
                <label class="float-right">Employer Location</label>
            </th>
            <td>
                <input class="form-control" asp-for="Location" />
                <span class="float-left" asp-validation-for="Location"></span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit" />
</form>