@model List<TechJobsPersistent.Models.Employer>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Employers Currently Hiring</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr>
                <td>No employers are currently hiring!</td>
            </tr>
        }
        else
        {
            @foreach (Employer employer in Model)
            {
                <tr>
                    <td><a class="btn btn-link btn-block text-left" asp-controller="Employer" asp-action="About" asp-route-id="@employer.Id">@employer.Name</a></td>
                </tr>
            }
        }
    </tbody>
</table>