@model TechJobsPersistent.ViewModels.AddSkillViewModel

<h1>Add New Skill</h1>

<form asp-controller="Skill" asp-action="Add" method="post">
    <table class="table table-responsive">
        <tr>
            <th>
                <label class="float-right" asp-for="Name">Skill Name</label>
            </th>
            <td>
                <input class="form-control" asp-for="Name" />
                <span class="float-left" asp-validation-for="Name"></span>
            </td>
        </tr>
        <tr>
            <th>
                <label class="float-right" asp-for="Description">Skill Description</label>
            </th>
            <td>
                <input class="form-control" asp-for="Description" />
                <span class="float-left" asp-validation-for="Description"></span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit" />
</form>
