@model List<TechJobsPersistent.Models.Skill>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr><th>In-demand Skills</th></tr>
        </thead>
        <tbody>
            @if (Model.Count == 0)
            {
                <tr><td>No skills are currently listed!</td></tr>
            }
            else
            {
                @foreach (Skill skill in Model)
                {
                    <tr><td><a class="btn btn-block shadow-none text-left" asp-controller="Skill" asp-action="About" asp-route-id="@skill.Id">@skill.Name</a></td></tr>
                }
            }
        </tbody>
    </table>
    <div><a asp-controller="Skill" asp-action="Add">Add a Skill</a></div>